*.log
.minecraft/logs/
.minecraft/saves/
.minecraft/TombManyGraves/
.minecraft/config/XaeroWaypoints/
.minecraft/config/XaeroWorldMap/
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/config/jei/worldSettings.cfg
.minecraft/crash-reports/
.minecraft/reports/
.minecraft/backups/
.minecraft/.mixin.out/
.minecraft/local/ftbutilities/
.minecraft/llibrary/
.minecraft/config/dropt/TEMPLATE.json.disabled
*.psd
