*.log
.minecraft/logs/
.minecraft/mods/
.minecraft/saves/
.minecraft/TombManyGraves/
.minecraft/config/XaeroWaypoints/
.minecraft/config/XaeroWorldMap/
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/config/jei/worldSettings.cfg
.minecraft/crash-reports/
