# Configuration file

general {
    # The list of wood/log that cannot be broken with your hand. [default: [ore:logWood]]
    S:Wood <
        ore:logWood
        dynamictrees:oakbranch
        dynamictrees:birchbranch
        dynamictrees:sprucebranch
        dynamictrees:junglebranch
        dynamictrees:acaciabranch
        dynamictrees:darkoakbranch
        dynamictrees:cactusbranch
        dynamictreesbop:bamboobranch
        dynamictreesbop:cherrybranch
        dynamictreesbop:deadbranch
        dynamictreesbop:ebonybranch
        dynamictreesbop:eucalyptusbranch
        dynamictreesbop:firbranch
        dynamictreesbop:hellbarkbranch
        dynamictreesbop:jacarandabranch
        dynamictreesbop:magicbranch
        dynamictreesbop:mahoganybranch
        dynamictreesbop:palmbranch
        dynamictreesbop:pinebranch
        dynamictreesbop:umbranbranch
        dynamictreesbop:willowbranch
        rustic:ironwoodbranch
        rustic:olivebranch
        minecraft:stone
        minecraft:cobblestone
        minecraft:coal_ore
        minecraft:iron_ore
        minecraft:gold_ore
        minecraft:lapis_ore
        minecraft:redstone_ore
        minecraft:diamond_ore
        minecraft:emerald_ore
		immersiveengineering:ore
		minecraft:netherrack
		minecraft:quartz_ore
		tconstruct:ore
		minecraft:end_stone
		biomesoplenty:gem_ore
		quark:biotite_ore
		thebetweenlands:betweenstone
		thebetweenlands:octine_ore
		thebetweenlands:sulfur_ore
		thebetweenlands:slimy_bone_ore
		thebetweenlands:syrmorite_ore
		thebetweenlands:pitstone
		thebetweenlands:valonite_ore
		thebetweenlands:scabyst_ore
		thebetweenlands:green_middle_gem_ore
		thebetweenlands:aqua_middle_gem_ore
		thebetweenlands:crimson_middle_gem_ore
     >
}


