# Configuration file

"dont touch" {
    S:"CONFIG VERSION"=MovingWorldCFG.1.0.0
}


general {
    B:"Rediscover powered blocks on next restart?"=false
}


mobile_chunk {
    S:highpriorityassembly_blocks <
        minecraft:portal
        minecraft:piston_extension
        minecraft:piston_head
        minecraft:sticky_piston
        minecraft:piston
        minecraft:portal
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:wooden_door
        minecraft:lever
        minecraft:stone_pressure_plate
        minecraft:iron_door
        minecraft:wooden_pressure_plate
        minecraft:stone_button
        minecraft:fence_gate
        minecraft:tripwire_hook
        minecraft:tripwire
        minecraft:wooden_button
        minecraft:unpowered_comparator
        minecraft:powered_comparator
        minecraft:activator_rail
        minecraft:spruce_fence_gate
        minecraft:birch_fence_gate
        minecraft:jungle_fence_gate
        minecraft:dark_oak_fence_gate
        minecraft:acacia_fence_gate
        minecraft:spruce_door
        minecraft:birch_door
        minecraft:jungle_door
        minecraft:acacia_door
        minecraft:dark_oak_door
        minecraft:observer
        biomesoplenty:sacred_oak_fence_gate
        biomesoplenty:cherry_fence_gate
        biomesoplenty:umbran_fence_gate
        biomesoplenty:fir_fence_gate
        biomesoplenty:ethereal_fence_gate
        biomesoplenty:magic_fence_gate
        biomesoplenty:mangrove_fence_gate
        biomesoplenty:palm_fence_gate
        biomesoplenty:redwood_fence_gate
        biomesoplenty:willow_fence_gate
        biomesoplenty:pine_fence_gate
        biomesoplenty:hellbark_fence_gate
        biomesoplenty:jacaranda_fence_gate
        biomesoplenty:mahogany_fence_gate
        biomesoplenty:ebony_fence_gate
        biomesoplenty:eucalyptus_fence_gate
        biomesoplenty:sacred_oak_door_block
        biomesoplenty:cherry_door_block
        biomesoplenty:umbran_door_block
        biomesoplenty:fir_door_block
        biomesoplenty:ethereal_door_block
        biomesoplenty:magic_door_block
        biomesoplenty:mangrove_door_block
        biomesoplenty:palm_door_block
        biomesoplenty:redwood_door_block
        biomesoplenty:willow_door_block
        biomesoplenty:pine_door_block
        biomesoplenty:hellbark_door_block
        biomesoplenty:jacaranda_door_block
        biomesoplenty:mahogany_door_block
        biomesoplenty:ebony_door_block
        biomesoplenty:eucalyptus_door_block
        toughasnails:temperature_coil
        minecraftboom:spruce_button
        minecraftboom:birch_button
        minecraftboom:jungle_button
        minecraftboom:acacia_button
        minecraftboom:dark_oak_button
        minecraftboom:spruce_pressure_plate
        minecraftboom:birch_pressure_plate
        minecraftboom:jungle_pressure_plate
        minecraftboom:acacia_pressure_plate
        minecraftboom:dark_oak_pressure_plate
        rustic:fence_gate_olive
        rustic:fence_gate_ironwood
        rustic:olive_door
        rustic:ironwood_door
        tconstruct:slime_channel
        dungeontactics:fan_block
        dungeontactics:flamer_block
        dungeontactics:trap_boom
        dungeontactics:trap_fire
        dungeontactics:trap_slime
        dungeontactics:trap_foul
        dungeontactics:trap_ailment
        dungeontactics:trap_port
        dungeontactics:trap_ambush
        dungeontactics:trap_spectral
        engineersdoors:door_steel
        engineersdoors:door_treated
        inspirations:glass_door
        inspirations:torch_lever
        inspirations:bricks_button
        inspirations:redstone_torch_lever
        inspirations:redstone_torch_lever_powered
        nex:fence_gate_quartz
        nex:fence_gate_brick_nether
        nex:fence_gate_brick_nether_red
        nex:fence_gate_basalt_normal
        nex:fence_gate_basalt_smooth
        nex:fence_gate_basalt_brick
        nex:fence_gate_basalt_pillar
        nex:fence_gate_brick_nether_fiery
        nex:fence_gate_brick_nether_icy
        nex:fence_gate_brick_nether_lively
        nex:fence_gate_brick_nether_gloomy
        agricraft:water_pad
        agricraft:water_channel_valve
        quark:obsidian_pressure_plate
        quark:nether_brick_fence_gate
        davincisvessels:crate_wood
        wizardry:wisdom_wood_door
        wizardry:wisdom_wood_fence_gate
        thebetweenlands:weedwood_plank_fence_gate
        thebetweenlands:weedwood_log_fence_gate
        thebetweenlands:rubber_tree_plank_fence_gate
        thebetweenlands:giant_root_plank_fence_gate
        thebetweenlands:weedwood_plank_pressure_plate
        thebetweenlands:betweenstone_pressure_plate
        thebetweenlands:syrmorite_pressure_plate
        thebetweenlands:weedwood_plank_button
        thebetweenlands:betweenstone_button
        thebetweenlands:weedwood_lever
        thebetweenlands:weedwood_door
        thebetweenlands:rubber_tree_plank_door
        thebetweenlands:giant_root_plank_door
        thebetweenlands:syrmorite_door
     >
    S:highprioritydisassembly_blocks <
        minecraft:piston_head
        minecraft:piston_extension
     >
    S:lowpriorityassembly_blocks <
        minecraft:redstone_wire
        minecraft:obsidian
     >
    S:lowprioritydisassembly_blocks <
        minecraft:end_portal
        minecraft:portal
        minecraft:redstone_wire
     >
}


